/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/**/

body{
    font-family: "proxima-nova",sans-serif;
    font-size: 18px;
    line-height: 26px;
    color: #858585;
    text-align: center;
    text-decoration: none;
}
.nav-bar{
    background: #ffffff;
    height: 100px;
    letter-spacing: 3px;
    cursor: pointer;
}
.nav-bar img{
    width: 250px;
    height: auto;
    float: left;
    padding: 10px 83px 10px;
}
li{
    display: inline-block;
    color: #999;
    font-size: 15px;
    font-weight: 500;
    margin: 10px;
}
ul{
    float: right;
    padding: 25px 126px;
}

.fa-user{
    color: #999999;
    margin: 1px;

}
a{
    color: #999999;
    text-transform: uppercase;
    text-decoration: none;
}

.header{
    background: url("DDHeaderHalloween.jpg") no-repeat center;
    background-size: cover;
    max-width: 100%;
    vertical-align: middle;
    color: #ffffff;
    text-transform: uppercase;

}
.text{
    padding: 200px 0 200px;
}
h1{
    font-size: 80px;
    font-weight: bold;
    line-height: 120px;
}

h2, h3{
    font-size: 22px;
    font-weight: 500;
    line-height: 40px;
    margin-bottom: 40px;
    letter-spacing: 4px;
}

.btn-large{
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid;
    padding: 10px 15px;
    background-color: rgba(0,0,0,0.2);
    border-radius: 4px;

}

.wrapper {
    background-color: #eeeeee;
}

.pont{
    padding: 40px;
    width: 1200px;
    text-align: center;
    margin: 0 auto;
    height: 700px;
}

hr {
    border-top: 2px solid;
    width: 14px;
    margin: 0 auto;
}

h3{
   line-height: 60px;
    color: #333;
    text-align: center;
}

.shop {
    background: url("daniella_draper_Telegraph_luxury_press1.jpg") no-repeat;
    height: 350px;
    vertical-align: middle;
    width: 599px;
    float: left;
}
h4{
    letter-spacing: 3px;
    color: white;
    font-size: 24px;
    padding: 320px 10px;
    float: left;
}
.draper{
    background: url("DaniellaDraperTheDesigner.jpg") no-repeat;
    height: 350px;
    width: 599px;
    float: left;
}
h5{
    color: white;
    font-size: 24px;
    letter-spacing: 2px;
}
.hot img{
    width: 599px;
    float: left;
    background-color: rgba(115, 115, 115, 0.38);
}